* {
    margin: 0;
    padding: 0;
}

.container {

    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(./bg-image.jpg);
    background-size: cover;

}
.div-form{
	background-color: #2d343f;
	background-size: cover;
}

.avatar { 
	width: 108px; 
	height: 100px; 
	border-radius: 50%;
}